@import url('http://fonts.cdnfonts.com/css/brandon-grotesque');
@import url('https://fonts.cdnfonts.com/css/oxygen');
@import 'https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900&display=swap';
@import 'https://use.typekit.net/ipw1aky.css';

body {
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
}

/* <!-- ========== navbar ========== --> */

.navigation-and-bar {
  width: 100%;
  line-height: 30px;
}

.nav-bar-contener {
  top: 0;
  margin-top: 0;
  width: 100%;
}

.site-logo img {
  width: 45px;
  border-radius: 50%;
}

.menu-item {
  text-align: center;
  line-height: 35px;
}

.menu-item a {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
}

.menu-item button {
  height: 30px;
  width: 130px;
  line-height: 0;
  font-size: 13px;
  text-align: center;
  align-self: center;
}

.searchbtn {
  display: flex;
}
.searchbtn a{
  font-size: 16px;
  font-weight: lighter;
}

/* <!-- ========== slide show ========== --> */

.slideimg img {
  width: 100vw;
  height: 42vw;
  object-fit: cover;
}

/* <!-- ========== category ========== --> */

.category-contener {
  width: 70%;
  margin-top: 30px;
}

.grid-content {
  justify-content: center;
}

.heading {
  text-align: center;
  font-family: brandon bold;
}

.gridimg {
  border-radius: 15px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.grid-img-line {
  position: absolute;
  bottom: 0;
  width: 87%;
  color: #00cffffa;
  margin-left: 12px;
  font-family: brandon bold;
}

.gridimg img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* <!-- ========== Latest coffee release ========== --> */

.new-release-coffee {
  width: 70%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.heading h2 {
  font-weight: 600;
}

.release-head-part {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.release-body-part {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.viewall {
  font-size: 12px;
}

.cart {
  width: 30%;
  padding: 10px;
  font-family: brandon bold;
  border: none;
  box-shadow: 1px 1px 7px #d6cfcf;
}

.coffee-cart-body{
  text-align: center;
  font-weight: bolder;
  font-size: 14px;
}

.coffee-color {
  font-size: 12px;
  color: rgb(130, 103, 103);
}
.coffee-name{
font-size: 14px;
font-weight: bolder;
}

.coffee-fruit {
  color: #49525b;
  font-size: 8px;
}

.new-items {
  display: flex;
  justify-content: center;
}

/* <!-- ========== what's new ========== --> */

.whats-new-section {
  width: 70%;
  margin-top: 30px;
}

.whats-new-cart {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.new-heading h2 {
  font-weight: 600;
  font-family: brandon bold;
}

.new-cart {
  width: 24%;
  border: none;
  display: block;
  text-align: center;
  font-family: brandon bold;
}
.card-img-top{
  border-radius: 6px;
}
.coffee-name-2{
  font-size: 14px;
  height: 50px;
  font-weight: bolder;
  }

.buy-now {
  width: 100%;
  height: 30px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-family: Brandon Grotesque;
  color: #fff;
  height: 35px;
  background-color: #10b3c6;
}

.buy-now:hover {
  background-color: rgb(16, 110, 147);
  color: #fff;
}

/* <!-- ========== subscribe and save ========== --> */

.subscribe-and-save {
  width: 70%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-content {
  padding: 10px;
  text-align: start;
}

.subscribe-content h2 {
  font-weight: 600;
  font-family: Brandon;
}

.subscribe-content p {
  font-size: 14px;
  font-family: Oxygen;
}

.list-point {
  padding-left: 15px;
  font-family: Brandon;
}

.forthistime li {
  padding-left: 15px;
}

.sub-and-sav {
  margin-left: auto;
  margin-right: auto;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* letter-spacing: 2px; */
  width: 70%;
  height: 30px;
  color: #fff;
  font-family: Oxygen;
  background-color: #10b3c6;
}

.subscribe-btn:hover {
  background-color: rgb(16, 110, 147);
  color: #fff;
}

.offer {
  font-size: 14px;
  font-weight: bolder;
  color: rgb(16, 110, 147);
}

.subscribe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 6px;
}

/* <!-- ========== cup journey ========== --> */

.cup-journey-bg {
  background: #f9f2f2;
  padding: 10px 20px;
  margin-top: 30px;
  background-size: cover;
}

.cup-journey-container {
  width: 70%;
}

.description {
  text-align: center;
  font-size: 12px;
  font-family: Oxygen;
}

.journey-cart-section {
  justify-content: space-between;
}

.journey-cart {
  width: 22%;
  padding: 10px;
}

.journey-cart-body{
  padding: 10px 0px;
}
.journey-line {
  text-align: center;
  font-size: 14px;
  font-family: brandon bold;
}


/* <!-- ========== press and blog ========== --> */

.press-blog-arrow {
  justify-content: end;
}

.press-and-blog {
  background-image: url(https://wallpapercave.com/dwp2x/wp3173640.jpg);
  margin: 0;
}

.write-blog {
  width: 70%;
  padding: 20px;
}

.head-line {
  color: #fff;
  font-family: Brandon;
}

.splide__slide img {
  width: 100%;
  border-radius: 20px;
}

.coffee-date {
  color: #fff;
  font-family: Brandon;
}

.blog-press-section {
  justify-content: center;
}

.blog-cart {
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  background: none;
  color: #fff;
}

.read-more {
  font-size: 12px;
  font-weight: 400;
  font-family: Brandon;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.read-more::before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: rgb(104, 104, 193);
  position: absolute;
  left: -35px;
  top: 7px;
}

/* <!-- ========== footer ========== --> */

.this-page-footer {
  margin: 0;
  padding-top: 20px;
  background-color: rgb(222, 222, 231);
}

.footer-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-contect a {
  text-decoration: none;
  color: #000;
  font-size: 10px;
  font-family: Brandon Grotesque;
}

.footer-contect img {
  width: 70px;
  border-radius: 50%;
}

.contect-btn a {
  font-weight: bolder;
  color: #000;
}

.signupheading {
  font-family: 'Cormorant';
}

.footer-contect p {
  font-size: 10px;
  font-family: Brandon Grotesque;
}

.footer-sign-up p {
  font-size: 10px;
  font-family: Brandon Grotesque;
}

.footer-sign-up input {
  width: 88%;
  height: 30px;
  border-radius: 0;
  border: none;
}

.subscribe-btn-2 {
  width: 88%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 0;
  border: none;
  background-color: #000;
  font-family: Brandon Grotesque;
}

.subscribe-btn-2:hover {
  background-color: rgb(28, 7, 7);
  color: #fff;

}

.footer-list-1 ul {
  list-style-type: none;
  font-family: Brandon Grotesque;
}

.footer-list-1 a {
  font-size: 13px;
  text-decoration: none;
  color: #000;
}

/* nabar footer  */

.footer-nav-bar {
  width: 100%;
  line-height: 10px;
  display: inline-table;
  position: sticky;
  bottom: 0;
  background-color: rgb(222, 222, 231);
  box-shadow: 1px 1px 10px rgb(170, 170, 173);
}

.footer-navbar-items {
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-navbar-items a {
  color: #000;
}

@media (max-width: 992px) {

 
.category-contener,
  .new-release-coffee,
  .whats-new-section,
.subscribe-and-save,
.cup-journey-container,
.write-blog{
  width: 90%;
}
  .new-cart {
    width: 45%;
  }

  .searchbtn {
    display: none;
  }
  
.subscribe-btn{
  width: 73%;
}
.footer-sign-up input,
.subscribe-btn-2{
  width: 80%;
}
.footer-list-1{
  margin-left: 25px;
}
}

@media (max-width: 768px) {
  .cart,
  .new-cart,
  .journey-cart {
    width: 47%;
  }
  
.subscribe-btn{
  width: 50%;
}
.footer-sign-up input,
.subscribe-btn-2{
  width: 100%;
}
}
@media(max-width:576px) {

  .cart,
  .new-cart,
  .journey-cart {
    width: 90%;
  }
.subscribe-btn{
  width: 78%;
}
.journey-cart-section{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-contect{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-sign-up{
  text-align: center;
}
.footer-sign-up input,
.subscribe-btn-2{
  width: 100%;
}
.footer-list-1 ul {
  margin-left: 0px;
}
.footer-list-1{
  justify-content: center;
}
body h2{
  font-size: 20px;
}

}